

<div class="container">
  <div class="form-panel">
    <h2>Expense List</h2>
      <div>
        <div class="select-div">
          <select [(ngModel)]="filter" (change)="onChange()">
            <option value="all">All</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
          </select>
        </div>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Expense Name</th>
                <th>Expense Amount</th>
                <th>Remarks</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of expenseList">
                <td>{{ expense?.eid }}</td>
                <td>{{ expense?.expName }}</td>
                <td>{{ expense?.expAmount }}</td>
                <td>{{ expense?.remarks }}</td>
                <td>{{ expense?.date | date: 'mediumDate' }}</td>
                <td>
                <button class="btn btn-danger btn-sm" (click)="editExpense(expense)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteExpense(expense)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
    </div>
  </div>
  